<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100">
<head>
    <meta charset="UTF-8">
    <title>SuggestionsBot Stats</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Discord metadata -->
    <meta property="og:title" content="SuggestionsBot Statistics">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://stats.suggestions.gg">
    <meta property="og:description" content="Various statistics for the suggestions bot.">
    <meta property="theme-color" content="#ffd563">

</head>
<body class="h-full">
<div class="flex flex-col min-h-screen">
    <nav class="bg-gray-800">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16">
                <div class="flex items-center">
                    <div class="flex-shrink-0">
                        <img class="h-8 w-8" src="/static/logo.png"
                             alt="Workflow">
                    </div>
                    <div class="hidden md:block">
                        <div class="ml-10 flex items-baseline space-x-4">
                            {% for nav_link in nav_links %}
                                {% if nav_link.name == current_nav_link %}
                                    <a href="{{ nav_link.url }}" class="bg-gray-900
                                    text-white px-3 py-2 rounded-md text-sm font-medium"
                                       aria-current="page">{{ nav_link.name }}</a>
                                {% else %}
                                    <a href="{{ nav_link.url }}"
                                       class="text-gray-300 hover:bg-gray-700
                               hover:text-white px-3 py-2 rounded-md text-sm font-medium">{{ nav_link.name }}</a>

                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="hidden md:block">
{#                    <div class="ml-4 flex items-center md:ml-6">#}
{#                        <a href="/stats" type="button"#}
{#                           class="bg-gray-800 p-1 rounded-full text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">#}
{#                            Update Statistics#}
{#                        </a>#}
{#                    </div>#}
                    <div class="-mr-2 flex md:hidden">
                        <!-- Mobile menu button -->
                        <button type="button"
                                class="bg-gray-800 inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
                                aria-controls="mobile-menu" aria-expanded="false">
                            <span class="sr-only">Open main menu</span>
                            <!--
                              Heroicon name: outline/menu

                              Menu open: "hidden", Menu closed: "block"
                            -->
                            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                                 viewBox="0 0 24 24"
                                 stroke-width="2" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"/>
                            </svg>
                            <!--
                              Heroicon name: outline/x

                              Menu open: "block", Menu closed: "hidden"
                            -->
                            <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                                 viewBox="0 0 24 24"
                                 stroke-width="2" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Mobile menu, show/hide based on menu state. -->
            <div class="md:hidden" id="mobile-menu">
                <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
                    {% for nav_link in nav_links %}
                        {% if nav_link.name == current_nav_link %}
                            <a href="{{ nav_link.url }}"
                               class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium"
                               aria-current="page">{{ nav_link.name }}</a>
                        {% else %}
                            <a href="{{ nav_link.url }}"
                               class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">{{ nav_link.name }}</a>

                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </nav>

    <header class="bg-white shadow">
        <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold text-gray-900">{% block header %}{% endblock %}</h1>
        </div>
    </header>
    <main>
        <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="p-4 mb-4 text-sm text-blue-700 bg-blue-100 rounded-lg dark:bg-blue-200 dark:text-blue-800"
                             role="alert">
                            <span class="font-medium">{{ message }}</span>
                        </div>
                    {% endfor %}
                    <br><br>
                {% endif %}
            {% endwith %}
            <div class="border-4 border-double border-gray-200 rounded-lg p-8">
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>
    <footer class="p-4 bg-white shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 mt-auto">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 Anthony Collier. All Rights Reserved.
    </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
            <li>
                <a href="https://suggestions.gg/" class="mr-4 hover:underline md:mr-6 ">About</a>
            </li>
            <li>
                <a href="https://suggestions.gg/privacy" class="mr-4 hover:underline md:mr-6">
                    Privacy Policy
                </a>
            </li>
            <li>
                <a href="https://suggestions.gg/terms" class="mr-4 hover:underline md:mr-6">
                    Terms of Service
                </a>
            </li>
            <li>
                <a href="https://suggestions.gg/contact" class="hover:underline">
                    Contact
                </a>
            </li>
        </ul>
    </footer>
</div>
<script src="/static/stats.js"></script>
</body>
</html>